.form{
    margin: auto;
    margin-top: 50px;
    border: thin solid blue;
}

.form-title{
font-weight: bolder;
color: rgb(23, 23, 167);
}

.nav-item .nav-link{
    margin:  10px auto;
}

.pic2{
    width:4%;
}